@charset "UTF-8";
/* reset simple  */
/* l'étoile signifie, tout, "all" */
/* tous les éléments sont "taillés" de façon plus intuitive. Ils conserveront la taille que nous leur donnons. */
* {
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* mes styles pour le premierSITE : Patrick Isola - Colombbus */
/* font-family: 'Anton', sans-serif;
font-family: 'Lemonada', cursive;
font-family: 'Oswald', sans-serif; */
body {
	background-image: url('../img/concrete-texture.png');
	font-family: 'Oswald', sans-serif;
}

.clear {
	clear: both;
}
/* styles pour les titres du site */
h1 {
	font-size: 45px;
	color: #2980b9;
	text-align: center;
	letter-spacing: 1px;
	font-family: 'Anton', sans-serif;
}
h2 {
	font-size: 35px;
	color: #2c3e50;
	padding: 20px;
	font-weight: bold;
	text-shadow: 1px 1px 2px #aaa;
}
h2 i {
	color: #09c;
    font-size: 150%;
}
h3 {
    font-size: 22px;
    color: #2c3e50;
    padding: 15px;
    text-shadow: 1px 1px 2px #aaa;
}
h4 {
    text-align: center;
    margin-top: 30px;
}
strong {
	font-weight: bold;
}
/* à compléter  */
/* style pour header */
header {
    height: 175px;
    background: #2c3e50;
}
#logo {
	float: left;
	width: 25%;
    background: #2c3e50;
    padding: 15px;
    text-align: center;
}
#slogan {
    float: left;
    width: 50%;
    background: #2c3e50;
    padding-top: 50px;
}
/* style pour header : les styles pour les icônes d'insta et de fesse bouc  */
#social {
	float: left;
	width: 25%;
}
#social i {
	background: #2c3e50;
    font-size: 30px;
    text-align: right;
    padding: 15px 30px 0 0;
}
header a {
	text-decoration: none;
	color: #10828c;
}
/* fin header  */
/* nav navigation */

nav {
    background: #2980b9;
    height: 70px;
    border-bottom: 8px solid #6acafc;
    text-align: center;
    padding: 15px;
}
nav a {
    background: #6acafc;
    margin: 10px;
    padding: 2px 10px;
    border-radius: 10px 0;
    border: 2px solid #fff;
    color: #2c3e50;
    text-decoration: none;
    font-size: 20px;
	font-family: 'Oswald', sans-serif;
	/* contrôle le durée en secondes ou en milli-secondes de la transition avec la pseudo class .hover  */
    transition: 0.5s; /* transition sur le a marche avec le :hover */
}
nav a:hover {
    color: #fff;
    background: #a6d6c3; 
}
.active {
	color: orangered;
    background: #a6d6c3;
}

/* fin nav */

/* les zones principales de la page et du site */
main {
	background: rgba(178, 178, 178, 0.178);
	width: 1200px;
	margin: 0 auto;
}

aside {
	height: 250px;
	background: #a6d6c3;
	width: 30%;
	float: left;
}

#accueil {
	float: right; 
	width: 70%;
    /* padding: 10px;  */
}

section {
	margin-top: 10px;
	padding: 20px;
}

footer {
	/* height: 30px; */
	background: #2980b9;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* fin des zones principales */

/* le bouton pour aller en haut de page */

button {
	font-size: 350%;
	background-color: transparent;
	color: none;
	border: #2c3e50;
	/* la position du bouton */
	position: fixed;
	bottom: 40px;
	right: 20px;
}	

/* fin bouton */

/* style de la page texte */

.citation {
	font: 20px, lemonada, cursive;
}

h2 i {
	color: #2980b9;
	font-size: 200%;
}

blockquote i {
	color: #6acafc;
	font-size: 350%;
	vertical-align: top;			
}

.imageFond {
	background: url(../img/fond.jpg) no-repeat;	 
	background-size: cover;
}

.imageFond p {
	/* l'image apparaît car le p à une marge intérieur (margin) importante */
	width: 75%;
	margin: 200px auto 250px auto;
	padding: 20px;
	background: rgba(255,255,255,0.68);
	border-radius: 10px;
	font-size: 120%;
}

.auCentre {
	text-align: center;
}

img[src="img/toureiffel.jpg"] {
	margin: auto;
	display: block;
	padding: 30px;
	background: #fff;
}

.imageGolden {
	margin: 20px;
	border: 5px solid #fff;
	box-shadow: ;
	/* transition qui fonctionnera avec le :hover et transform */
	transition: 1s;
}

/* effet d'animation */

.imageGolden:hover {
	transform: rotate(-7deg);
	border: 15px solid #fff;
}

.rotation360:hover {
	/* transition: 2s; */
	transform: rotate(-360deg);
}

/* fin des images */

#zoning1 {
    background: #333;
    width: 800px;
    text-align: center;
    margin: auto;
    box-shadow: 1px 1px 2px white;
}

#zoning1 header {
    height: 70px;
    background-color: #f7f39a;
}

#zoning1 aside {
	height: 520px;
	width: 20%;
	float: left;
	margin: 0px;
	padding: 0px;
}

#zoning1 section {
	height: 520px;
	width: 80%;
	float: left;
	margin: 0px;
	padding: 0px;
}

/* zoning 2 */

#zoning2 {
	background-color: #ffd6d6;
	width: 800px;
	margin: auto;
	text-align: center;
	color: #fff;
}

#zoning2 header {
	background-color: purple;
	height: 70px;
}

#zoning2 aside {
	height: 500px;
	width: 25%;
	float: left;
	color: cadetblue;
	color: red;
}

#zoning2 .milieu {
	width: 50%;
	margin: 0;
	background-color: cyan;
	height: 500px;
	float: left;
}

/* zoning 3 */

#zoning3 {
	background-color: rosybrown;
	width: 800px;
	margin: auto;
	text-align: center;
}

#zoning3 section {
	background-color: pink;
	height: 500px;
	width: 50%;
	float: left;
	margin: auto;
	color: #fff;
}

#zoning3 .vert {
	background-color: green;
}

#zoning3 footer {
	height: 70px;
	float: left;
	width: 100%;
	background-attachment: #d8ebb5;
	margin: 0;
}

/* fin du zoning 3 */

#zoning4 {
    width: 1200px;
    background-color: lightgreen;
    margin: auto;
    text-align: center;
    color: white;
}
#zoning4 header {
    /* width: 1200px; */
    min-height: 100px;
    background-color: red;
}
#zoning4 nav {
    background-color: blue;
    min-height: 50px;
}
#zoning4 nav p {
	margin: 0;
	border: none;
}
#zoning4 section {
    background-color: purple;
    height: 500px;
    margin: 20px;
}
#zoning4 footer {
    background-color: black;
    height: 50px;
}

/* fin du zoning 4 */

/* zoning 5 */

#zoning5 {
    width: 1000px;
    background-color: yellowgreen;
    margin: 0 auto;
    /* auto centré */
    text-align: center;
}

#zoning5 header {
	height: 100px;
	background: #be32ff;
}

#zoning5 nav {
	height: 50px;
	background: rgb(124, 107, 187);
	border-bottom: 8px solid #333;
}

#zoning5 section {
	background: #176d81;
	margin: 20px;
	padding: 0;
}

#zoning5 .section .z1, .z2, .z3, .z4 {
	height: 250px;
	width: 50%;
	float: left;
}

#zoning5 .section .z1, .z2, .z3, .z4 p {
	/* line-height = la hauteur de l'élement si il ya un paragraphe court, qui tient sur une seule ligne */
	line-height: 250px;
}

#zoning5 .z1, .z4 {
	background: #32ff32;
} 

#zoning5 .z2, .z3 {
	background: ;
}

/* fin du zoning 5 */

/* zoning 6 */

#zoning6 {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    background-color: pink;
}

#zoning6 header {
    height: 200px;
    
}

.clear {
    clear: both;
}

.haut1 {
    width: 25%;
    height: 100%;
    float: left;
    background: tomato;
}

.haut2 {
    width: 50%;
    height: 100%;
    float: left;
    background: teal;
}

.haut3 {
    width: 25%;
    height: 100%;
    float: left;
    background: turquoise;
}

/* .bg-tomato {
    background: tomato;
} */

#zoning6 nav {
    height: 50px;
	background-color: lightblue;
	border: none;
}

#zoning6 nav a {
	border: none;
	background: none;
	background-color: lightblue;
}

#zoning6 aside {
    width: 25%;
    height: 500px;
    float: left;
    background-color: black;
}

#zoning6 section {
    width: 75%;
    float: left;
	background-color: lightgreen;
	padding: 0;
	margin: 0;
}

#zoning6 .a {
    height: 200px;
    width: 50%;
    float: left;
    background-color: wheat;
}

#zoning6 .b {
    height: 200px;
    width: 50%;
    float: left;
    background-color: black;
}

#zoning6 .diaporama {
    height: 200px;
    background-color: khaki;
}

#zoning6 .c {
    width: 25%;
    height: 100px;
    float: left;

    background-color: lime;
}

#zoning6 .d {
    width: 25%;
    height: 100px;
    float: left;

    background-color: powderblue;
}

#zoning6 .e {
    width: 25%;
    height: 100px;
    float: left;

    background-color: orchid;
}

#zoning6 .f {
    width: 25%;
    height: 100px;
    float: left;

    background-color: rosybrown;
}

#zoning6 footer {
    min-height: 100px;
	background-color: #333s;
	margin: 0;
}

/* fin du zoning 6 */

/* a terminer */

/* page position */

.centre {
	height: 200px;
	width: 200px;
	background-color: red;
	margin: 0 auto;
}

.absolute {
	height: 100px;
	width: 100px;
	background-color: yellow;
	margin: 0 auto;
	position: absolute;
	top: 24%;
	left: 10%;
}

/* position relative */
/* quand c'est relatif par rapport au parent, quand c'est absolute par rapport au document SAUF si l'élément est dans un parent relatif */

.relative {
	background-color: darkblue;
	height: 100px;
	width: 100px;
	margin: 0 auto;
	position: relative;
	/* position relative par rapport a la section dans laquelle se trouve cette div, relative par rapport à son parent*/
	left: 100px;
	bottom: 10px;
	position: absolute;
	right: 0;
	top: 0;
}

.relative div {
	/* contrairement à la div.absolute plus dans cet élement à position */
	width: 100px;
	height: 100px;
	position: absolute;
	right: 0px;
	top: 0px;
}

/* pourcentage */

.trente {
	width: 30%;
	padding: 20px;
	font-size: 22px;
	background-color: red;
	color: powderblue;
}

.cinquante {
	font-size: 22px;
	width: 50%;
	background: orangered;
	padding: 20px;
	color: #fff;
}

.cent {
	font-size: 22px;
	width: 100%;
	background: pink;
	padding: 20px;
	color: green;
}

/* float */

.float {
	width: 170px;
	height: 170px;
	background-color: yellow;
	border: 2px solid darkred;
	margin: 10px;
	float: left;

	text-align: center;
	font-size: 22px;
}

.dernier {
	height: 170px;
	width: 170px;
	background-color: yellow;
	margin: 10px;
	font-size: 22px;
	text-align: center;
	padding-top: 60px;
	border: 2px solid darkred;
}

/* exemple sur le float */

.zone {
	height: 70px;
	background-color: #333;
}

.zone1, .zone2, .zone3, .zone4 {
	height: 250px;
	width: 25%;
	float: left;
}

.zone1 {
	background: #2d5c7f;
}

.zone2 {
	background: #FFF1A8;
}

.zone3 {
	background: #FF8F56;
}

.zone4 {
	background: #984a59;
}

/* flexbox */

.flex {
	display: flex;	
	/* les div également réparties horizontalement */
	/* justify-content space between */

	/* espace égal autour de chaque div */
	/* justify-content: space-around; */

	/* de haut en bas en mode colonne */
	/* en mode colonne les div sont inversés */

	/* flex-direction: column-reverse; */
	flex-direction: row-reverse;
}

.flex div {
	width: 100%;
	height: 150px;
	background: #984A59;
	text-align: center;
	font-weight: 50px;
	color: #fff;
	margin: 10px;
}

/* page des liens */

.ancre {
	text-align: center;
	padding: 100px;
}

.ancre a {
	margin: 8px;
	padding: 5px 10px;
	background: lightgray;
	box-shadow: 0px 0px 10px 3px rgb(151, 151, 151);
	border-radius: 15px;

	color: #fff;
	text-decoration: none;
}

.ancre a:hover {
	box-shadow: none;
	transition: 0.5s;
	text-shadow: 1px 5px 10px gray;
}

#menu nav {
	background: transparent;
	border: none;
}

#menu ul {
	list-style: none;
	text-align: center;
}

#menu ul li {
	display: inline-block;
	/* element inline ou block a reviser */
}

#menu nav a {
	padding: 10px;
	color: grey;
	text-decoration: none;
	background: #ddd;
	/*  */
	transition: 1s ease-ins;
}

#menu nav a:hover {
	color: #fff;
	background: #069;
}

/* le menu avec les menus déroulants */

#menuDeroulant nav {
	width: 90%;
	background: transparent;
	border: none;
	margin: 0 auto;
}

#menuDeroulant nav ul li {
	list-style: none;
	width: 20%;
	float: left;
}

#menuDeroulant ul ul {
	display: none;
}

#menuDeroulant nav ul li ul li {
	border-top: 1px solid #464646;
	width: 100%;
}

#menuDeroulant nav li {
	background: #ccc;
}

#menuDeroulant nav li a {
	display: block;
	padding: 4px 0;
	/* display block */
}

#menuDeroulant ul {
	text-align: center;
}

#menuDeroulant nav ul.niveau1 li.sousMenu:hover ul.niveau2 {
	display: block;
}

/* la page des animations */

/* camel case différencié */

.infobulle {
	height: 250px;
	width: 500px;
	background: #444444;
	margin: auto;
	padding-top: 15px;
	box-shadow: 0 0 50px #222 inset;
}

.infobulle p {
	text-align: center;
	padding-top: 30px;
}

.infobulle a {
	color: #ccc;
	text-decoration: none;
	border-radius: 3px;
	padding: 5px 15px;
	text-shadow: 0 -0.2px 0 black ;
}

.infobulle a:hover {
	color: white;
	background: rgb(0, 0, 0, 0.4);
	text-shadow: 0 1px 2px black;
	box-shadow: 0 1px 0 rgba(255,255,255,0.68) ;
}

.infobulle a span {
position: absolute;
padding: 15px;
margin-top: 50px;
margin-left: -23px;
border-radius: 13px;
background: rgba(255,255,255,0.68)
/* le contenu de span disparait grâce a cette ligne */
opacity: 0;
color: #09c;
transition: 0.25s;
transform: scale(0) rotateZ(-12deg);
}

.infobulle a:hover span {
opacity: 1;
transform: scale(1) rotate(0);
}

.imgEffets {
	width: 302px;
	height: 320px;
	margin: 70px auto;
}

.imgEffets li {
	 width: 141px;
	 /* on fabrique le carré qui contient les images */
	 height: 150px;
	 margin: 5px;
	 float: left;
	 list-style: none;
}

/* le 3e li est clear:both */
.imgEffets li:nth-child(3) {
	clear: both;
}

.imgEffets img {
	/* contrôle la position des élements, pour modifier leur chevauchement */
	position: absolute;
	/* toutes les images sont empilés en bas */
	z-index: 1;
	/* on cale l'image dans un bloc carré de 150px */
	height: 150px;

	box-shadow: 0 0 3px black;
	/* cubic-bezier commence par 0 et finit par 1, mettre ses valeurs entre  */
	transition: .5s cubic-bezier(0,3.4,1);
	/* pour la transition il faut le a:hover */
}

.imgEffets li:hover img {
	z-index: 2;

	transform: scale(1.5px);

	box-shadow: 0 0 10px black;
}

.imgEffets:hover li:not(:hover) img {
	/* on passe les li qui ne sont pas survolés en gris avec un effet de flou */
	filter: grayscale(1) blur(1px);
}


/* la page multimédia */

.videoFond {
	padding-left: 0;
	padding-right: 0;
}

.videoFond video {
	width: 80%;
	position: absolute;
	z-index: 1;
}

.videoTexte {
	position: relative;
	width: 100%;
	height: 500px;
}

.videoFond p {
	position: relative;
	z-index: 2;
	width: 500px;
	margin: auto;
	background: rgba(255,255,255,0.68);
	left: 250px;
	top: 150px;
	padding: 20px;
	font-size: 120%;
	border-radius: 15px;
	text-align: center;
}

/* pour la vidéo youtube embarqué */

iframe[src="https://www.youtube.com/embed/ndEZVLOost0"] {
	width: 100%;
	min-height: 800px;
}

iframe [allowfullscreen] {
	width: 90%;
}

.audio {
	text-align: center;
}

#google {
	width: 100%;	
}



