@charset "UTF-8";
/* reset simple  */
/* l'étoile signifie tout all */
/* Tous les éléments sont taillés de façons plus intuitives, ils conserveront la taille que nous leur donnerons */
*{
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* mes styles pour le premierSITE, Louis Rey Colombbus */

body {
	background-image: url(../img/concrete-texture.png);
	font-family: oswald;
}

h1 {
	font-size: 35px;
	color: #2980b9 ;
	text-align: center;
	letter-spacing: 1px;
}

h2 {
	font-size: 35px;
	color: 2c3e50;
	padding: 20px;
	font-weight: bold;
	text-shadow: 1px 1px 2px #aaa;
}

h3 {
    font-size: 22px;
    color: #2c3e50;
    padding: 15px;
    text-shadow: 1px 1px 2px #aaa;
}

h4 {
    text-align: center;
    margin-top: 30px;
}

font-family
/* font-family: 'Lemonada', cursive; */


#logo {
	float: left;
}

#slogan {
	float: left;
	width: background;
	background: #2c3e50;
	padding-top: 50px;
}

#social {
	float: left;
	width: 50px;
}

#social i {
background: red ;
font-size: 30px;
text-align: right;
padding: 15px 30px 0 0;
}

header a {
	text-decoration: none;
}

/* fin header  */

/* nav navigation */

nav {
	background: #2980b9;
	margin: 10px;
	padding: 2px 10px;
	border-radius: 10px 0px;
	border: 2px solid #fff;
	color: #2c3e50;
	text-decoration: none;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	/* transition sur le a:hover, controle la durée en seconde ou milli seconde */
	transition: 0.5s; 

}

nav a:hover {
	color: #fff;
	background: #a6d6c3;

}

.active {
	color: orangered;
	 background: #a6d6c3;
}