body {
    background-color: lightpink;
}

main {
    margin: 0 auto;
    width: 1200px;
    background-color: plum;
}

header {
    background-color: royalblue;
    float: left;
    width: 1200px;
    text-align: center;
}

aside {
    background-color: grey;
    float: left;
    width: 200px;
    min-height: 500px;
    text-align: center;
}

section {
    background-color: green;
    float: left;
    width: 1000px;
    /* min-height: hauteur minimale */
    min-height: 500px;
    height: 500px;
    text-align: center;
}

#zoning1 {
    background: #333;
    width: 800px;
    text-align: center;
    margin: auto;
    box-shadow: 1px 1px 2px white;
}

#zoning1 header {
    height: 70px;
    background-color: #f7f39a;
}