body {
    background-color: pink;
}

#zoning6 {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    background-color: pink;
}

#zoning6 header {
    height: 200px;
    
}

.clear {
    clear: both;
}

.haut1 {
    width: 25%;
    height: 100%;
    float: left;
    background: tomato;
}

.haut2 {
    width: 25%;
    height: 100%;
    float: left;
    background: teal;
}

.haut3 {
    width: 25%;
    height: 100%;
    float: left;
    background: turquoise;
}

/* .bg-tomato {
    background: tomato;
} */

#zoning6 nav {
    height: 50px;
    background-color: lightblue;
}

#zoning6 aside {
    width: 25%;
    height: 550px;
    min-height: 250px;
    float: left;
    background-color: black;
}

#zoning6 section {
    width: 75%;
    float: left;
    background-color: lightgreen;
}

#zoning6 .a {
    height: 200px;
    width: 50%;
    float: left;
    background-color: wheat;
}

#zoning6 .b {
    height: 200px;
    width: 50%;
    float: left;
    background-color: black;
}

#zoning6 .diaporama {
    height: 200px;
    background-color: khaki;
}

#zoning6 .c {
    width: 25%;
    height: 100px;
    float: left;

    background-color: lime;
}

#zoning6 .d {
    width: 25%;
    height: 100px;
    float: left;

    background-color: powderblue;
}

#zoning6 .e {
    width: 25%;
    height: 100px;
    float: left;

    background-color: orchid;
}

#zoning6 .f {
    width: 25%;
    height: 100px;
    float: left;

    background-color: rosybrown;
}

#zoning6 footer {
    min-height: 100px;
    background-color: #333s;
}
